header {position:fixed; 
		width:100%;
		background-color:white;
		float:left;
		z-index:5;
}


#logo {position:relative;
	   float:left;
	   z-index:5;
	}

h1 {position:relative;

	
}


#name {
	font-family:Raleway, sans-serif;
	font-weight:300;
	font-size: 37px;
	position:absolute;
	padding-left:133px;
}

#description {
	font-family:Raleway, sans-serif;
	font-weight:700;
	font-size: 37px;
	padding-top:50px;
	letter-spacing:.98px;
}

#pagebody {padding-top:15em;

}

#splash {
		padding-top:10em;
		
		}
	


.img-wrapper {
	position:relative;
	height:396px;
	width:261px;
	float:left; 
	padding-left:1em; 
	padding-right:.5em;

}

.img-wrappertwo {
	position:relative;
	height:396px;
	width:261px;
	float:left; 
	padding-left:1em; 
	padding-right:.5em;

}

.img-wrapperthree {
	position:relative;
	height:185px;
	width:362px;
	float:left; 
	padding-left:1em; 
	padding-right:.5em;}
	
.img-wrapperfour {
	position:relative;
	height:185px;
	width:362px;
	float:left; 
	padding-left:1em; 
	padding-right:.5em;
	padding-top:1.5em;}

.img-wrappergallery {
	position:relative;
	height:140px;
	width:200px;
	float:left; 
	padding-top:.8em;
	padding-bottom:1em;
	margin-right:2em;	

}

.img-textgallery {
	position:absolute;
	bottom:0px;
	margin-bottom:.8em;
	text-align:center;
	font-size:24px;
	font-family:Raleway, sans-serif;
	font-weight:700;
	color:black;
	background-color:white;
	width:200px;
	height:140px;
	opacity:0;
	}

.img-textgallery:hover {opacity:.7;}


.img-text {
	position:absolute;
	bottom:0px;
	text-align:center;
	font-size:48px;
	font-family:Raleway, sans-serif;
	font-weight:300;
	color:black;
	background-color:white;
	width:261px;
	height:396px;
	opacity:0;

}




.img-texttwo {
	position:absolute;
	bottom:0px;
	text-align:center;
	font-size:48px;
	font-family:Raleway, sans-serif;
	font-weight:300;
	color:black;
	background-color:white;
	width:362px;
	height:185px;
	opacity:0;

}

.img-textthree {
	position:absolute;
	bottom:0px;
	text-align:center;
	font-size:48px;
	font-family:Raleway, sans-serif;
	font-weight:300;
	color:black;
	background-color:white;
	width:363px;
	height:185px;
	opacity:0;

}

.img-texttwo:hover {opacity:.7;}
.img-textthree:hover {opacity:.7;}
.img-text:hover {opacity:.7;}


.finearttitle {margin-top:170px;}

.designtitle {margin-top:170px;}

.abouttitle {margin-top:70px;}

.resumetitle {margin-top:70px;}

.currentpage {background-color:#dedfdf;}



#splashlogo {position:absolute;}


		  
.fancybox {padding-top:.8em;
		  padding-bottom:1em;
		  margin-right:1.6em;
		
		 }
		  
.label {font-weight:bold; 
		float:left;
		width:100%; 
		letter-spacing:.98px;
		text-align:left;

}

.about {float:left;
		width:30%;
		padding-right:1em;
		padding-left:1em;
		padding-top:1.3em;}


#bio {float:left;
	  width:50%;
	  padding-bottom:2.5em;}
	  
.bioparagraph {letter-spacing:.95px;
			   line-height:20px;
			   font-weight:500;}
			   
#biotitle {letter-spacing:5px;}


body
	{
	margin: 0 auto;
	height:100%;
	width: 960px;
	padding: 0px;
	font-family:Raleway, sans-serif;
	font-size: 16px;
	background-color: white;
	color: black;
	}
	
a{
	text-decoration:none;
	color:black;
	text-align:center;
	display:inline;
	
	}
	
a:hover {color:#37a1e5;

}
	
	
nav {

	margin:0;
	padding:0;
}
nav li {
	display:inline;
	margin:0;
	padding:1em 3.7em 1em 3.7em;
	float:left;
	text-transform:uppercase;
	border-right:.2em #dedfdf solid;
	height:1em;
	font-size:16px;
	font-weight:500;
	}

nav li:last-child {
 border-right: none;
}




#lastsection {padding-bottom:2em;
}

#indexfooter 	
	{clear: both;
 	position: relative;
 	bottom:0;
 	padding-bottom:3em;
 	padding-right:2em;
 	padding-top:1.5em;
 	margin-top:2em;
 	height: 2em;
 	width:960px;
 	background-color:white;
 	text-align:right;}

footer {	
	clear: both;
 	position: relative;
 	bottom:0;
 	padding-bottom:3em;
 	padding-top:.7em;
 	margin-top:1.5em;
 	height: 2em;
 	width:960px;
 	background-color:white;
 	text-align:right;
 	
}
