header {position:fixed; 
		width:100%;
		background-color:white;
		float:left;
}

#logo {position:relative;
	   float:left;}

h1 {position:relative;
	
}

#name {
	font-family:Raleway, sans-serif;
	font-weight:300;
	font-size: 37px;
	position:absolute;
	padding-left:133px;}

#description {
	font-family:Raleway, sans-serif;
	font-weight:700;
	font-size: 37px;
	padding-top:50px;
}

#pagebody {padding-top:15em;
}

#splash {float:left;
		padding-top:10em;}
		
.splashimage {float:left;
			  padding-left:1.3em;
			  padding-bottom:1.3em;
}

.gallery {padding-top:.8em;
		  padding-bottom:1em;
		  margin-right:1.3em;
		  float:left;}
		  
.label {font-weight:bold; float:left;
width:100%;

}


body
	{
	margin: 0 auto;
	height:100%;
	width: 960px;
	padding: 0px;
	font-family:Raleway, sans-serif;
	font-size: 16px;
	background-color: white;
	color: black;
	}
	
a{
	text-decoration:none;
	color:black;
	text-align:center;
	display:inline;
	
	}
	
a:hover {color:#37a1e5;

}
	
	
nav {

	margin:0;
	padding:0;
}
nav li {
	display:inline;
	margin:0;
	padding:1em 4em 1em 4em;
	float:left;
	text-transform:uppercase;
	border-right:.2em #dedfdf solid;
	height:1em;}

nav li:last-child {
 border-right: none;
}




#lastsection {padding-bottom:2em;
}

#indexfooter 	
	{clear: both;
 	position: relative;
 	bottom:0;
 	padding-bottom:3em;
 	padding-right:2em;
 	padding-top:.7em;
 	margin-top:1.5em;
 	height: 2em;
 	width:960px;
 	background-color:white;
 	text-align:right;}

footer {	
	clear: both;
 	position: relative;
 	bottom:0;
 	padding-bottom:3em;
 	padding-right:2em;
 	padding-top:.7em;
 	margin-top:1.5em;
 	height: 2em;
 	width:960px;
 	background-color:white;
 	text-align:right;
 	border-top:.2em #dedfdf solid;
}
