

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end of reset*/

body {width:100%; font-family:helvetica; 
	}
	
#site-wrapper {background-color:#ecf2d3; }

header {position:relative; 
	background-color:#ecf2d3; 
	height:120px; 
	width:960px; 
	margin:0 auto; }

header h1 {position:absolute; 
	background-color:#744918;
	top:50px;
	left:-999px;}

header nav {position: absolute; 
	right:0px; top:0px;
	}
	
a {text-decoration:none; color:#744918; font-size:14px;}
	
#menu-wrapper {background-color:#744918;}

#main-menu {background-color:#744918; 
	position:relative; 
	height:40px;
	width:960px;
	margin:0 auto;}

#main-menu li {float:left; 
	padding-right:20px; 
	padding-top:12px;
	margin: 0px;
	text-transform:uppercase;
	}
	
#main-menu li a {color:white;}

#page {float:left; padding-top:50px;
	padding-bottom:50px;
	padding-right:150px;
	width:60%; width:400px;
	line-height:1em;}

#content {width: 960px; margin:0 auto;}

#page h1 {font-weight:bold; font-size:50px; color:#744918; padding-bottom:20px;}

#page h2 {font-weight:bold; font-size:20px; color:#744918;}

#sidebar {float:left;
	width:30%; background-color:green;}

#site-footer { background-color:#744918;
	position:relative; 
	bottom:0;
	width: 960px; margin:0 auto;}
	
#footer-wrapper {background-color:#744918; height: 100px; clear:both;}


