

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


/*End of Reset*/
@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('fonts/League_Gothic-webfont.eot');
    src: url('fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/League_Gothic-webfont.woff') format('woff'),
         url('fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
	background-color: #cec7c0;
	margin:0 auto;
	width:100%; 
	height:100%;
	font-family:adobe garamond pro;} 

@media screen and (max-width:700px) {
    body { font-size:0.8em; margin: 0 auto; }
    section p { font-size:1.8em; padding-left:.5em;}
    img { float:none; width:98%; }
    section { float:none; width:98%;padding-left:.5em; }
    #footer {position: absolute;
 			bottom:0px;
 			height: 2em;}
 	h1 {height:.5em; font-size:2em; padding-bottom:.5em;}
 	header nav {position:relative;}
    
    }

  

a{
	text-decoration:none;
	color:#683a1d;
	text-align:center;
	 }
	 	
a:hover {color:#4196cb;}

header nav {
	position:absolute;
	width:100%;
	text-align:center;
	margin:0 auto;

	
	}
	
h1{ position:relative;
	color:#8a4115;
	height:1em;
	font-size:4.5em;
	width:100%;
	margin:0 auto;
	padding-top:.3em;
	padding-bottom:.2em;
	letter-spacing:.05em;
	text-align:center;
	font-family: 'LeagueGothicRegular';
	text-transform:uppercase;
	
	}
	
.top-link {
	display:inline;
	text-transform:uppercase;
	margin-right:1.2em; 
	margin-bottom:1.2em;
	text-align:center;
	}

#top {text-align:center;
	border-top:2px solid black;
	border-bottom:2px solid black;
	padding:10px;}

h2 {font-weight: bold;
	color:#683a1d;
	letter-spacing:.1em;
	padding-bottom:5px;}

img {
	float:left; 
	margin-right:.7em;
	margin-bottom: .7em; 
	margin-left: .7em;
	max-width:100%;
	
	}

section { 
	width:46%; 
	float:left; 
	padding-top:1.2em;
	
	}
	
section p { 
	font-size:1em;
	line-height:1em;}
	
.description {
	padding-right:1.2em;
	}

#footer {
 	clear: both;
 	position: absolute;
 	bottom:0px;
 	padding-top:.7em;
 	height: 2em;
 	width:100%;
	font-size:.8em;
	text-align:center;
	border-top:2px solid black;
	
}

